html, body{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    height: 30px;
}
a{
    display: inline-block;
    height: 100%;
}
label::before{
    padding: 0 10px;
    content:"\e800";
    font-family: "fontello";
}
label{
    cursor: pointer;
}
.home{
    display: none;
}

#home input[type="checkbox"]{
    display: none;
}
#home input[type="checkbox"]:checked~ul{
    display: block;
}
#home input[type="checkbox"]:checked+label::before{
    padding: 0 10px;
    content:"\e801";
    font-family: "fontello";
}